h2 {
    font-size: 2.5rem;
}

.trails-card {
    background-color: rgba(2, 78, 63, 0.178);
    margin: 1rem;
    padding: 2rem;
    width: 25rem;
    box-shadow: 2px 2px 5px rgb(241, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4rem;
}

.trails-card > p {
    text-align: center;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details > p {
    margin: 1rem;
}

.trails-card > img {
    width: 10rem;
    border-radius: 1rem;
}

.trails-card > a {
    text-decoration: none;
    color: rgb(5, 44, 40);
}

.trails-card > a:hover {
    color: rgba(2, 78, 63, 0.178);
}